<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce Navbar Design</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/style.css">
        
</head>
<body>

    <nav>
        <div class="container nav-wrapper">
            <div class="brand">
                
                <span><strong>Boutica</strong></span>
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-list">
                <li class="active">
                    <a href="{{ url_for('home') }}">Home</a>
                </li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li>
                    <a href="{{ url_for('all_products') }}">All products</a>
                </li>
                <li><a href="#">Contact</a></li>
            {% if current_user.is_authenticated %}
                <li>
                    <i class="fa fa-user"></i><a>{{ current_user.username }}</a>
                    <ul class="dropdown-list">
                        <li><a href="{{ url_for('profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('cart') }}">My Cart</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('signup') }}"><button class="btn">sign up</button></a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}"><button class="btn">Login</button></a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
</body>
</html>